@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--main-color);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b435c;
  border-radius: 5px;
}


:root{
  --main-color: #131723;
}


.brdr{
  height: 1px;
  background-color: #a8a8a83d;
}

nav{
  background-color: #131723;
  box-shadow: 0 -3px 20px 0px black;
}

a{
  text-decoration: none;
}